.icon {
  width: 24px;
  height: 24px;
  margin-right: 15px;
}

.profile-img {
  width: 250px;
  border-radius: 10px;
}

.info-list {
  list-style: none;
  padding: 0;
}

.info-list li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.divider {
  margin: 30px 0;
}
