#about {
  background-color: #ffffff;
}
.about-card {
  background-color: white;
  border: 1px solid #e9ecef;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
  padding: 5rem;
  max-width: 114rem;
  margin: 0 auto;
  border-radius: 1.5rem;
}
.about-card ul {
  font-size: 2rem;
}
.profile-img {
  width: 30rem;
  height: 35rem;
  object-fit: cover;
  border: 5px solid #ffffff;
  border-radius: 10%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.icon {
  width: 3rem;
  height: 3rem;
}
a {
  color: var(--bs-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
@media (max-width: 992px) {
  .about-card {
    padding: 3rem;
  }
  .profile-img {
    width: 25rem;
    height: 28rem;
  }
}
@media (max-width: 576px) {
  .about-card {
    padding: 2rem;
  }
  .profile-img {
    width: 20rem;
    height: 23rem;
  }
  ul {
    text-align: center;
  }
  .d-flex {
    justify-content: center;
  }
}
